@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill|Modern+Antiqua&subset=latin-ext');
/* this is a commant in css */
/* css syntax 
selectors{
property:value;
property:value;
property:value;
property:value
}*/
/* selector type */
/* first all p elemnts */
p{
    font-size: 1em;
    line-height: 1.5em;
}
figcaption{
    /*font-weight: normal;
    font-size: 1.75em;
    line-height: 1.5em;
    font-family: Georgia ,'New Times Roman',serif;*/
    font: normal 0.75em/1.5em 'Hanalei Fill', cursive;
    color:rgb(156, 37, 39,1);
    text-align: right;
}
/* class selector */
.nood-text{
    font:bold 2em 'Hanalei Fill', cursive;
    color:whitesmoke;
    text-shadow: 0 2px 3px #000;
}
/* ID selector */
#logo{
    background: aqua;
}
/* Descendent selector */
#logo h1{
    font-family: 'Modern Antiqua', cursive;
    font-family: 'Hanalei Fill', cursive;
}
/* psuedo selector */
#details a:link, #details a:visited{
    color: black;
    text-decoration: none;
}
#details a:hover{
    color: black;
    text-decoration: underline;
}
#details a:active{
    color:red;
    text-decoration: underline;

}
/*#details a:hover, #details a:active{
    color:red;
    text-decoration: underline;
*/