@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

/*This is a comment!*/

/* CSS Syntax:

selector{
   property: value;
   property: value;
}
*/

/*Type selector*/

p{/* select all <p>*/
   font-size: 1em ;/*16px ,?pt , 100% , 1em */
   line-height: 1.5em;
}

figcaption{
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia,"Times New Roman", Sans-Serif;*/
  
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color:#777;
  text-align: right;
  
}

/*Class selector(applied to as many elements as you like)*/

.milk-text{/*select elements with class="milk-text"*/
font: bold 2.6em 'Elsie Swash Caps', cursive ;
color: white;
text-shadow: 0 2px 3px #000;
  
}
 /*ID selector(apply to one unique  element per apage)*/
 
 #logo{/*select elements with id="logo"*/
   background:aqua; 
 }

 /*Descendent selector*/
 #logo h1 {/* select <h1> if inside the id="logo"*/
      font-family: 'Clicker Script', cursive;
 }
 #logo h2 {/* select <h1> if inside the id="logo"*/
      font-family: 'Elsie Swash Caps', cursive;
 }
 
  /*Psuedo selector*/

 #details a:link{
   color: black;
   text-decoration: none;
 }
 
#details a:visited{
   color: red;
   text-decoration: none;
 }
 
 #details a:hover{
   color: blue;
   text-decoration: underline;
 }
 
 #details a:active{
   color: pink;
   text-decoration: none;
 }